<script id="rong-template-avatar" type="text/x-template">
    <!--#include file="avatar.html" -->
</script>

<script id="rong-template-image-rebox" type="text/x-template">
    <!--#include file="image.html" -->
</script>

<script id="rong-template-login" type="text/x-template">
    <!--#include file="login.html" -->
</script>

<script id="rong-template-online-status" type="text/x-template">
    <!--#include file="online-status.html" -->
</script>

<script id="rong-template-status" type="text/x-template">
    <!--#include file="status.html" -->
</script>

<script id="rong-template-at-panel" type="text/x-template">
    <!--#include file="conversation/at-panel.html" -->
</script>

<script id="rong-template-conversation-contextmenu" type="text/x-template">
    <!--#include file="conversation/contextmenu.html" -->
</script>

<script id="rong-template-conversation-list" type="text/x-template">
    <!--#include file="conversation/conversation-list.html" -->
</script>

<script id="rong-template-latest-message" type="text/x-template">
    <!--#include file="conversation/latest-message.html" -->
</script>

<script id="rong-template-message-list" type="text/x-template">
    <!--#include file="conversation/message-list.html" -->
</script>

<script id="rong-template-contact-list" type="text/x-template">
    <!--#include file="contact/list.html" -->
</script>

<script id="rong-template-user" type="text/x-template">
    <!--#include file="contact/user.html" -->
</script>

<script id="rong-template-user-request" type="text/x-template">
    <!--#include file="contact/user-request.html" -->
</script>

<script id="rong-template-card" type="text/x-template">
    <!--#include file="message/card.html" -->
</script>

<script id="rong-template-file" type="text/x-template">
    <!--#include file="message/file.html" -->
</script>

<script id="rong-template-location" type="text/x-template">
    <!--#include file="message/location.html" -->
</script>

<script id="rong-template-sight" type="text/x-template">
    <!--#include file="message/sight.html" -->
</script>

<script id="rong-template-image" type="text/x-template">
    <!--#include file="message/image.html" -->
</script>

<script id="rong-template-text" type="text/x-template">
    <!--#include file="message/text.html" -->
</script>

<script id="rong-template-unknown" type="text/x-template">
    <!--#include file="message/unknown.html" -->
</script>

<script id="rong-template-voice" type="text/x-template">
    <!--#include file="message/voice.html" -->
</script>

<script id="rong-template-bqmmemoji" type="text/x-template">
    <!--#include file="message/bqmmemoji.html" -->
</script>

<script id="rong-template-setting-layout" type="text/x-template">
    <!--#include file="setting/layout.html" -->
</script>

<script id="rong-template-account" type="text/x-template">
    <!--#include file="setting/account.html" -->
</script>

<script id="rong-messagebox" type="text/x-template">
    <!--#include file="messagebox.html" -->
</script>

<script id="rong-template-message-input" type="text/x-template">
    <!--#include file="conversation/message-input.html" -->
</script>
