<div class="rong-setting-form">
    <form action="" @submit.prevent="submit">
        <ul>
            <li>
                <label>{{locale.oldPwd}}</label>
                <input name="oldPassword" v-model="oldPassword" type="password" class="rong-field"
                    data-rule-required="true" :data-message-required="locale.tipOldPwd">
                <div v-if="errors.oldPassword" class="rong-form-error">{{errors.oldPassword}}</div>
            </li>
            <li>
                <label>{{locale.newPwd}}</label>
                <input name="newPassword" v-model="newPassword" type="password" class="rong-field" maxlength="16" 
                    data-rule-required="true" :data-message-required="locale.tipNewPwd"
                    data-rule-rangelength="6,16" :data-message-rangelength="locale.tipPwdLen">
                <div v-if="errors.newPassword" class="rong-form-error">{{errors.newPassword}}</div>
            </li>
            <li>
                <label>{{locale.confirmPwd}}</label>
                <input name="confirmPassword" v-model="confirmPassword" type="password" class="rong-field" maxlength="16" 
                    data-rule-required="true" :data-message-required="locale.tipConfirmPwd"
                    data-rule-equalto="[name=newPassword]" :data-message-equalto="locale.tipMatchPwd">
                <div v-if="errors.confirmPassword" class="rong-form-error">{{errors.confirmPassword}}</div>
            </li>
            <li class="rong-setting-submit">
                <button class="rong-button rong-submit" type="submit" :disabled="busy || disabled">{{locale.btns.confirm}}</button>
            </li>
        </ul>
    </form>
</div>